---
import Game from '../components/Game';
import { testRoom } from '../rooms';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://twemoji.maxcdn.com/2/svg/1f9b6.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kick!</title>
	</head>
	<body>
		<main class="h-screen bg-black flex justify-center items-center">
			<Game
				characterList={['Kicko', 'TonyOnion']}
				room={testRoom}
				client:load
			/>
		</main>
	</body>
</html>

<style></style>
